extends layout 

block content 

    div.contenedorCreadorColeccion
        form(action="")
            label(for="") Defina el nombre de su coleccion 
            input(type="text")
            button(type="submit") Crear Coleccion

    

