extends layout 

block content 

    div.contenedorPanelDenuncia
        h1 Panel de denuncia 
        form(action="") 
            p Elija el motivo de su denuncia: 
            select(name="motivo")
                option(value="1") motivo1
                option(value="2") motivo2   
                option(value="3") motivo3
                option(value="4") motivo4
                option(value="5") motivo5
            p Comentarios Adicionales: 
            textarea(name="justificacionUsuario", placeholder="Agregue aqui su justificacion para su denuncia")
            button(type="submit") Realizar Denuncia












