extends layout 

block content 
    div.loginUsuario 
        h1 Iniciar Sesion 
        form(action="") 
            label(for="") Ingrese nombre 
            input(type="text", name="")
            label(for="") Ingrese contrasena
            input(type="password", name="")
            button(type="submit") Logearse

