extends layout 



block content 
    div.perfil-contenedor
        div.perfil-info
            div.perfil-foto
                img(src="https://imgs.search.brave.com/Q1nEakmJDqPIcORmqy_leaEHvNoB3xxHNFrWARbdYvA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL00v/TVY1Qk9EazBNVGt5/TWpndFlqQTVZaTAw/TVRrekxXRTVNall0/TVRRM1lqWTFZVFJt/TVRZeVhrRXlYa0Zx/Y0djQC5qcGc", alt="foto")
            
            div.perfil-datos-usuario
                p Alejandro
                div.estadisticas
                    a(href="/") Seguidores: 30 
                    a(href="/") Seguidos: 10
                button Seguir    
            
            

