extends layout 

block content 
    div.contenedorReportes 
        h1 Reportes Recibidos 
        each reporte in [1, 2, 3, 4, 5, 6, 7]
            a(href="") 
                div.reporte 
                    p @Alejandro
                    p PENDIENTE 
                    p 2024/12/05








