*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arimo";
}

/* estilos nav */

.nav-contenedor{
    background-color: rgb(81, 168, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 3px solid black;
}

.tituloFotaza{
    font-weight: bold;
    color: white;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

li{
    display: flex;
    flex-direction: row;
    list-style: none;
}

li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

li a:hover{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 7, 7);
    transition: .2s;
    font-size: 20px;
}

/* estilos contenedor general */

.contenedor{

    width: 100%;
    min-height: 100vh;
    background-color: rgb(178, 178, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* estilos perfil */



.perfil-contenedor{

    background-color: rgb(225, 225, 225);
    border: 2px solid black;
    height: 45vh;
    width: 65vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1), 
                0 6px 10px rgba(0, 0, 0, 0.05);
}

.perfil-info{
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 35px;
    height: 38vh;
    width: 46vw;
}

.perfil-foto{
    border: 2px solid rgb(9, 235, 69);
}

.perfil-foto img{
    border-radius: 45%;
    height: 295px;
    width: 295px;
    border: 2px solid black;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1), 
                0 4px 10px rgba(0, 0, 0, 0.05);
}

.perfil-datos-usuario {
    border: 2px solid rgb(9, 235, 69);
    padding: 45px;
}

.perfil-datos-usuario p{
    font-size: 28px;
    font-weight: bold;
    color: grey;
}

.estadisticas{
    font-size: 32px;
    display: flex;
    font-weight: bold;
    gap: 15px;
}

.estadisticas a{

    text-decoration: none;
    color: black;
    text-align: center;

}

.estadisticas a:hover{

    text-decoration: none;
    color: rgb(227, 216, 20);
    transition: .2s;
}

.perfil-datos-usuario button{

    width: 100%;
    height: 6vh;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 22px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid white;

}

.perfil-datos-usuario button:hover{

    background-color: rgb(82, 82, 82);
    transition: .2s;

}


/* estilos para crear publicacion */

.contenedorCreador{

    border: 2px solid black;
    padding: 45px;
    margin-top: 35px;
    border-radius: 25px;
    background-color: white;
    min-height: 65vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorCreador h1{

    text-align: center;
    font-size: 42px;
}

.contenedorCreador form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    padding: 30px;
    border: 1px solid black;
    width: 100%;
}

.titulo{

    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titulo label{
    font-size: 25px;
    font-weight: bold;
}

.titulo input{

    border: 1px solid grey;
    width: 65%;
    font-size: 18px;
    padding: 5px;
    border-radius: 25px;
}

.descripcion{

    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.descripcion label{
    font-size: 25px;
    font-weight: bold;
}

.descripcion input{

    border: 1px solid grey;
    width: 65%;
    font-size: 18px;
    padding: 5px;
    border-radius: 25px;
}

.imagenes{

    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.imagenes label{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(160, 160, 160);
    padding: 12px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s;
    border: 1px solid black;
}

.imagenes label:hover{

    background-color: rgb(133, 132, 132);
    border: 1px solid rgb(57, 57, 57);
}

.imagenes input{

    border: 2px solid rgb(233, 0, 0);
    width: 50%;
    font-size: 16px;
    padding: 5px;
    border-radius: 25px;
    
}

.etiquetas{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.etiquetas label{
    font-size: 25px;
    font-weight: bold;
}

.etiquetas input{

    border: 1px solid grey;
    width: 25%;
    font-size: 18px;
    padding: 5px;
    border-radius: 25px;
}

.etiquetas button{

    width: 20%;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid grey;
    cursor: pointer;
    transition: .2s;
    padding: 5px;
}

.etiquetas button:hover{
    background-color: grey;
}

.etiquetas-mostrar{
    display: flex;
    gap: 15px;
    height: 5vh;
}

.etiquetas-mostrar p{
    background-color: aquamarine;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid black;

}

.copyright-confirmar{

    width: 35%;
    display: flex;
    gap: 15px;
    height: 5vh;
    border: 2px solid black;
    justify-content: flex-start;
    align-items: center;

}

.copyright-confirmar p {

    font-size: 18px;
    font-weight: bold;

}

.copyright-confirmar input::content {

    background: red;

}


.marca-agua{

    width: 100%;
    display: flex;
    gap: 15px;
    height: 10vh;
    border: 2px solid black;
    justify-content: flex-start;
    align-items: center;

    
}

.marca-agua label{

    font-size: 18px;
    font-weight: bold;
        

}

.marca-agua input{

    border: 1px solid grey;
    width: 38%;
    font-size: 18px;
    padding: 5px;
    border-radius: 25px;

}

.elegir-marcas{
    
    width: 100%;
    display: flex;
    gap: 10px;
    height: 28vh;
    border: 2px solid black;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    
}

.elegir-marcas p{
    font-size: 18px;
    font-weight: bold;
}

.vista-fotos{
    
    /*
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    */

    /* version antigua con flex por si se rompe grid*/

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}


.miniatura-foto img{
    height: 65px;
    width: 65px;
}

.boton-enviar{

    height: 5vh;
    border-radius: 10px;
    border: 1px solid rgb(61, 61, 61);
    background-color: rgb(142, 222, 138);
    color: white;
    cursor: pointer;
    transition: .2s;
}

.boton-enviar:hover{

    border: 1px solid rgb(123, 122, 122);
    background-color: rgb(110, 170, 107);

}

















