*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arimo";
    scroll-behavior: smooth;
}

/* estilos nav */

.nav-contenedor{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.tituloFotaza{
    font-weight: bold;
    color: white;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

li{
    display: flex;
    flex-direction: row;
    list-style: none;
}

li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

li a:hover{
    text-decoration: none;
    font-size: 18px;
    color: rgb(236, 183, 47);
    transition: .2s;
    font-size: 20px;
}

/* estilos contenedor general */

.contenedor{

    width: 100%;
    min-height: 100vh;
    background-color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* estilos generales footer */

.footer{

    padding: 25px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;

}

.footer h2{
    color: white;
}

/* estilos perfil */



.perfil-contenedor{

    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    height: 45vh;
    width: 65vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1), 
                0 6px 10px rgba(0, 0, 0, 0.05);
    border: 2px solid white;
}

.perfil-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 35px;
    height: 38vh;
    width: 46vw;
}


.perfil-foto img{
    border-radius: 45%;
    height: 295px;
    width: 295px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1), 
                0 4px 10px rgba(0, 0, 0, 0.05);
    object-fit: cover;
    
}

.perfil-datos-usuario {
    padding: 45px;
}

.perfil-datos-usuario p{
    font-size: 28px;
    font-weight: bold;
    color: rgb(107, 34, 216);
}

.estadisticas{
    font-size: 32px;
    display: flex;
    font-weight: bold;
    gap: 15px;
}

.estadisticas a{

    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;

}

.estadisticas a:hover{

    text-decoration: none;
    color: rgb(226, 166, 35);
    transition: .2s;
}

.perfil-datos-usuario button{

    width: 100%;
    height: 6vh;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 22px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: .2s;
}

.perfil-datos-usuario button:hover{

    background-color: rgb(128, 126, 126);
    

}


/* estilos para crear publicacion */








.contenedorCreador {
    border: 2px solid rgb(255, 255, 255);
    padding: 45px;
    margin-top: 35px;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorCreador h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
    color: rgb(107, 34, 216);
}

.contenedorCreador form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 30px;
    width: 100%;
}

.titulo {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulo label {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.titulo input {
    border: 4px solid rgb(195, 11, 11);
    width: 65%;
    font-size: 18px;
    padding: 5px;
    border-radius: 25px;
}

.descripcion {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.descripcion label {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.descripcion input {
    border: 4px solid rgb(195, 11, 11);
    width: 65%;
    font-size: 18px;
    padding: 5px;
    border-radius: 25px;
}

.imagenes {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.imagenes label {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(71, 20, 148);
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s;
    border: 3px solid rgb(255, 255, 255);
}

.imagenes label:hover {
    background-color: rgb(104, 30, 215);
    border: 1px solid rgb(249, 249, 249);
}


.imagenesNombres {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    color: white;
}

.linea-imagen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.etiquetas {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.etiquetas label {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.etiquetas input {
    border: 4px solid rgb(195, 11, 11);
    width: 35%;
    font-size: 18px;
    padding: 5px;
    border-radius: 25px;
}

.etiquetas button {
    width: 20%;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid rgb(252, 252, 252);
    background-color: rgb(104, 30, 215);
    color: white;
    cursor: pointer;
    transition: .2s;
    padding: 5px;
}

.etiquetas button:hover {
    background-color: rgb(78, 21, 144);
}

.etiquetas-mostrar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 10px;
    width: 100%;
    padding: 5px;
}

.linea-etiqueta {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgb(91, 24, 213);
    padding: 8px 12px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
}

.linea-etiqueta button {
    cursor: pointer;
    background-color: rgb(235, 60, 60);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    transition: .2s;
}

.linea-etiqueta button:hover{
    background-color: rgb(173, 43, 43);
}

.copyright-confirmar {
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}

.copyright-confirmar p {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.marca-agua {
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}

.marca-agua label {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.marca-agua input {
    border: 4px solid rgb(195, 11, 11);
    width: 38%;
    font-size: 18px;
    padding: 5px;
    border-radius: 25px;
}


.elegir-marcas {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.elegir-marcas p {
    font-size: 18px;
    font-weight: bold;
    color: white;
}


.vista-fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.linea-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 2px solid rgb(195, 11, 11);
    padding: 8px;
    background-color: #f9f9f9;
}

.linea-copy p {
    font-size: 12px;
    margin: 0;
    max-width: 90px;
    word-break: break-all; 
    color: black;
}

.boton-enviar {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(65, 23, 148);
    color: white;
    cursor: pointer;
    transition: .2s;
}

.boton-enviar:hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(89, 32, 203);
}













/* Seccion inicio  */



.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    min-height: 100vh; 
    box-sizing: border-box;
}

.tituloInicio {
    text-align: center;
    font-size: 6vh;
    margin-top: 25px;    
    margin-bottom: 20px;
    color: white;
}

.panelFotografias {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;          
    padding: 25px;      
    width: 90%;         
    max-width: 1600px;  
    transition: .2s;
}

.fotoMostrada:hover{
    background-color: rgb(60, 5, 122);
    cursor: pointer;
}

.fotoMostrada {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 25px;
    border-radius: 25px;
    display: flex;      
    justify-content: center;
    align-items: center;
    transition: .2s;
}


.fotoMostrada img {
    width: 100%;        
    height: 420px;      
    border-radius: 10px;
    object-fit: cover;  
}




.footer {
    width: 100%;
}










/* seccion crear coleccion  */

.contenedorCreadorColeccion{

    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 35%;
    height: 50vh;
    border-radius: 25px;
}

.contenedorCreadorColeccion form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.contenedorCreadorColeccion form label{

    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: white;


}

.contenedorCreadorColeccion form input{

    border: 2px solid rgb(213, 28, 28);
    width: 75%;
    font-size: 22px;
    padding: 15px;
    border-radius: 25px;

}

.contenedorCreadorColeccion form button{

    width: 65%;
    font-size: 22px;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: .2s;
    background-color: rgb(73, 29, 173);
    color: white;

}

.contenedorCreadorColeccion form button:hover{

    background-color: rgb(87, 34, 201);



}



/* Estilos para la parte de guardar colecciones */

.contenedorGuardarColeccion{
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 40%;
    margin: 30px auto;
    border-radius: 25px;
}

.contenedorGuardarColeccion h1{
    color: white;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.contenedorGuardarColeccion form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.opcionesColecciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.opcionColeccion{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: .2s;
}

.opcionColeccion:hover{
    border: 2px solid rgb(108, 24, 233);
    background-color: rgb(35, 35, 35);
}

.opcionColeccion input{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.btnGuardarColeccion{
    width: 60%;
    font-size: 20px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: .2s;
    background-color: rgb(73, 29, 173);
    color: white;
    font-weight: bold;
    margin-top: 15px;
}

.btnGuardarColeccion:hover{
    background-color: rgb(87, 34, 201);
}












/* Seccion para plantilla de publicacion  */







.contenedorPublicacion {
    max-width: 1000px;
    margin: 20px auto;
    padding: 15px;
    font-family: sans-serif;
}

.infoPublicacionGeneral {
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 15px;
}

.autorPublicacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.autorPublicacion img {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(88, 22, 212); 
}

.autorPublicacion a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.autorPublicacion a:hover{
    color: rgb(212, 171, 58);
}

.descripcion-publicacion-titulo{
    color: white;
}

.descripcion-publicacion-texto{
    color: white;
}

.descripcion-publicacion-fecha{
    color: white;
}

.etiquetasPublicacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.etiquetasPublicacion span {
    background-color: rgb(108, 24, 233);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    color: white;
}

.seccionAccionesGenerales {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.seccionAccionesGenerales button {
    padding: 8px 15px;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    transition: .2s;
    color: white;
}

.boton-editar-publicacion {
    padding: 8px 15px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none; 
    font-size: 12px; 
    transition: .2s;
}

.boton-guardarPublicacion{
    padding: 8px 15px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none; 
    font-size: 12px; 
    transition: .2s;
}

.boton-guardarPublicacion:hover{
    background-color: rgb(25, 95, 207); 
    color: white;
    border: 2px solid white;
}

.boton-cerrar-comentarios:hover{
    background-color: rgb(116, 25, 207); 
    color: white;
    border: 2px solid white;
}

.boton-editar-publicacion:hover{
    background-color: #179d67; 
    color: white;
    border: 2px solid white;
}

.boton-borrar-publicacion:hover{
    background-color: #8f1410; 
    color: white;
    border: 2px solid white;
}

.bloque-tarjeta-foto {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 35px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}


.seccionSuperior {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 20px;
    width: 100%;
}


.divisorImagen {
    width: 45%;
    text-align: center;
}

.divisorImagen img {
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
}


.divisorInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divisorInfo h3 {
    margin: 0;
    font-size: 24px;
    color: rgb(255, 255, 255);
}


.seccionComentariosPublicacion {
    height: 450px;
    overflow-y: scroll;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    background-color: #1a1a1a;
}

.comentario {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px rgb(250, 250, 250);
}

.cabeceraComentario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.autorComentarioIndividual {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.autorComentarioIndividual img {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(252, 252, 252);
}

.autorComentarioIndividual a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
    transition: .2s;
}

.autorComentarioIndividual a:hover{
    color: #dcab25;
}

.accionesComentarioIndividual {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.boton-reportar{
    padding: 6px 5px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgb(251, 251, 251);
    background-color: rgb(255, 2, 2); 
    color: white;
    text-decoration: none;
}

.boton-borrar {
    padding: 6px 5px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgb(251, 251, 251);
    background-color: rgb(0, 0, 0); 
    color: white;
    text-decoration: none;
}

.boton-reportar-com{
    padding: 6px 5px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgb(251, 251, 251);
    background-color: rgb(5, 5, 5); 
    color: white;
    text-decoration: none;
    transition: .2s;
}

.boton-reportar-com:hover{
    background-color: rgb(205, 97, 10); color: white; 
}

.boton-reportar:hover { 
    background-color: rgb(228, 117, 5); color: white; 
}

.boton-borrar:hover { 
    background-color: red; color: white; 
}

.cuerpoComentario {
    padding-left: 10px;
    margin-top: 5px;
    color: white;
}

.cuerpoComentario p.mini {
    color: rgb(234, 233, 233);
    font-size: 12px;
}


.seccionComentar form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.seccionComentar input {
    width: 70%;
    padding: 8px;
    border: 2px solid rgb(253, 253, 253);
}

.seccionComentar button {
    width: 25%;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}


.seccionInferior {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.seccionValorizaciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.seccionValorizaciones form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.valorar-texto-publicacion{
    color: white;
}

.boton-votar {
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    color: white;
}

.boton-texto-votar{
    color: white;
}

.datos-votos {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-weight: bold;
    color: white;
}

.seccionReporteFoto {
    display: flex;
    flex-direction: row; 
    gap: 10px;
}

.botonInteres {
    background-color: rgb(16, 174, 27);
    color: white;
    border: 2px solid rgb(248, 248, 248);
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
    transition: .2s;
}

.botonInteres:hover{
    background-color: rgb(13, 132, 21);
}

.botonReporte{
    background-color: rgb(206, 19, 19);
    color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
    transition: .2s;
}

.botonReporte:hover{
    background-color: rgb(149, 14, 14);
}

.comentarios-cerrados{
    color: rgb(232, 0, 0);
    text-align: center;
}




















/* estilos para panel de validador en denuncia  */




.contenedorVistaDenuncia {
    width: 55vw;
    display: flex;
    flex-direction: column;
    border: 3px solid red; 
    padding: 20px;
    border-radius: 12px;
}


.vistaDenunciaSuperior {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.vistaDenunciaFoto {
    width: 400px;
    height: 400px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.vistaDenunciaFoto img {
    max-width: 380px;
    max-height: 380px;
}

.vistaDetallesDenuncia {
    width: 25vw;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.vistaDetallesDenuncia p{
    gap: 25px;
}



.justificacionUsuarioDenuncia {
    border: 1px solid gray;
    background-color: white;
    padding: 10px;
    height: 150px;
    width: 22vw;
    overflow-y: scroll; 
    margin-top: 5px;
}

.justificacionUsuarioDenuncia p{
    font-size: 18px;
}


.vistaDenunciaInferior {
    border: 2px solid purple; 
    padding: 15px;
    background-color: white;
}

.vistaDenunciaInferior form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.vistaDenunciaInferior input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}


.accionesObservador {
    display: flex;
    gap: 20px;
}

.accionesObservador button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}


.accionesObservador button:nth-child(1) {
    background-color: rgb(31, 160, 31); 
    border: 1px solid green;
}

.accionesObservador button:nth-child(2){
    background-color: rgb(203, 59, 59); 
    border: 1px solid darkred;
}


/* estilos para vista de realizar denuncia */

.contenedorPanelDenuncia{

    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
    width: 500px;
    height: 540px;
    border-radius: 25px;
}

.contenedorPanelDenuncia h1{

    font-size: 35px;
    font-weight: bold;

}

.contenedorPanelDenuncia form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

}

.contenedorPanelDenuncia form p {

    font-size: 25px;
    text-align: center;
}

.contenedorPanelDenuncia form select{

    width: 100%;
    height: 5vh;
    font-size: 18px;
    border-radius: 10px;
}


.contenedorPanelDenuncia form textarea{

    padding: 10px;
    height: 16vh;
    font-size: 15px;
    border-radius: 10px;

} 

.contenedorPanelDenuncia form button{

    padding: 5px;
    height: 5vh;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s;
    background-color: rgb(225, 82, 82);
    color: white;
}

.contenedorPanelDenuncia form button:hover{

    border: 2px solid black;
    background-color: rgb(164, 53, 53);

}




/* estilos para publicaciones de gente que sigo */

.contenedorPublicacionesSeguidas{

    border: 2px solid red;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.contenedorPublicacionesSeguidas h1{

    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;

}

.contenedorParaDistintasFotos{

    /* revisar en estilos finales */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.contenedorDePublicacion{

    border: 2px solid black;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    transition: .3s;

}

.contenedorDePublicacion img{

    width: 100%;
    height: 45vh;
    object-fit: cover;
    border-radius: 15px;

}

.contenedorDePublicacion:hover{

    background-color: rgb(158, 157, 157);
    scale: 1.1;

}





/* estilos para la plantilla de buscar o filtrar */




.contenedorPlantillaBuscar {
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.contenedorBuscar {
    width: 280px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    background-color: black;
    border-radius: 10px;
}

.contenedorBuscar form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedorControlesFiltros {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buscarTitulo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.buscarAutor {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.buscarEtiquetas {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.buscarFechas {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.contenedorControlesFiltros h2 {
    font-size: 16px;
    margin: 0;
    color: #ffffff;
}


.contenedorControlesFiltros input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #999999;
    border-radius: 4px;
}

.buscarFechas label {
    font-size: 13px;
    margin-top: 2px;
    color: white;
}

.contenedorEtiquetasAgregadas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}



.contenedorBuscarFiltros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.contenedorBuscarFiltros button {
    padding: 10px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid #ffffff;
    cursor: pointer;
    background-color: #3d3d3d;
    color: white;
    transition: .2s;
}

.contenedorBuscarFiltros button:hover {
    background-color: #2f0853;
}

.contenedorBuscarFiltros a {
    font-size: 16px;
    color: #37e926;
    text-decoration: none;
    transition: .2s;
}

.contenedorBuscarFiltros a:hover {
    text-decoration: underline;
    color: #6e1fe3;
}


.contenedorPublicacionesBuscadas {
    flex-grow: 1;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
}

.contenedorDePublicacionBuscada {
    border: 2px solid #ffffff;
    padding: 6px;
    border-radius: 6px;
    background-color: black;
}

.contenedorDePublicacionBuscada img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
    border: 2px solid white;
}

.buscador-resultado-nada{

    color: rgb(240, 22, 22);
    text-align: center;
    font-size: 35px;
    
}


/* estilos para la plantilla de chats */


.contenedorChats{

    display: flex;
    flex-direction: row;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 65%;
    border-radius: 10px;
}

.contenedorChatsCargados{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid blue;
    padding: 10px;
    gap: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 20%;
    max-height: 65vh;
}

.contenedorChatExistente{

    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 171, 227);
    padding: 10px;
    width: 95%;
    border-radius: 20px;

}


.contenedorChatsCargados img{

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contenedorMensajesChats{

    border: 2px solid green;
    padding: 10px;
    width: 90%;
    max-height: 65vh;

}

.contenedorSuperiorMensajes{

    border: 2px solid pink;
    padding: 5px;
    overflow-y: scroll;
    max-height: 57vh;
    
    display: flex;
    flex-direction: column;
    gap: 15px;

}


.mensajeChat {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid gray; 
    border-radius: 12px;
    max-width: 75%; 
}



.mensajeChat.recibido {
    align-self: flex-start;
    background-color: white; 
}


.mensajeChat.enviado {
    align-self: flex-end;
    background-color: #e1f0ff; 
}





.campoEscribirChat{

    border: 2px solid purple;
    padding: 10px;
    

}

.campoEscribirChat form{

    display: flex;
    flex-direction: row;

}

.campoEscribirChat input{

    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #cbcbcb;

}

.campoEscribirChat button{

    width: 20%;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;

}


.contenedorMensajesChats img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}




/* estilos para plantilla de notificaciones  */ 

.contenedorNotificaciones{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 70%;
    margin-top: 5vh;
    gap: 20px;
    border-radius: 15px;

}

.notificacion{

    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    border-radius: 15px;
    width: 50%;
}

.notificacion img{

    width: 120px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid white;

}

.notificacion p{

    font-size: 25px;
    font-weight: bold;

}

.notificacion form{

    width: 40%;


}

.notificacion button{

    width: 85%;
    padding: 15px;
    font-size: 15px; 
    border-radius: 10px;
    border: 1px solid gray;


}




/* estilos para seguidores */





.contenedorSeguidoresPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255, 255, 255); 
    width: 60%;
    margin-top: 80px; 
    margin-bottom: 80px; 
    padding: 25px;
    border-radius: 15px;
    background-color: #000000;
}

.contenedorSeguidoresPerfil h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
    color: #ffffff;
}


.seguidorPerfil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;  
    padding: 15px 30px;
    gap: 25px;
    border-radius: 15px;
    width: 85%;                  
    background-color: #fcfcfc;
    margin-bottom: 15px;         
}



.seguidorPerfil a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #801ed6;     
    transition: .2s;         
}

.seguidorPerfil a:hover{
    color: #dda127;  
}

.seguidorPerfil img {
    width: 80px;                 
    height: 80px;
    border-radius: 50%;          
    border: 2px solid #6d1adb;
    object-fit: cover;           
}








/* vistas para plantilla seguidos perfil */




.contenedorSeguidosPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255, 255, 255); 
    width: 60%;
    margin-top: 80px; 
    margin-bottom: 80px; 
    padding: 25px;
    border-radius: 15px;
    background-color: #000000;
}

.contenedorSeguidosPerfil h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
    color: #fdfdfd;
}


.seguidoPerfil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;  
    padding: 15px 30px;
    gap: 25px;
    border-radius: 15px;
    width: 85%;                  
    background-color: #fcfcfc;
    margin-bottom: 15px;         
}



.seguidoPerfil a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #7c1ad8;     
    transition: .2s;         
}

.seguidoPerfil a:hover{

    color: #d8a61d;   

}

.seguidoPerfil img {
    width: 80px;                 
    height: 80px;
    border-radius: 50%;          
    border: 2px solid #7514e3;
    object-fit: cover;           
}












/* estilos plantilla mostrar colecciones  */

.contenedorMostrarColecciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 30px auto;
}

.contenedorMostrarColecciones h1{
    font-size: 36px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.coleccionesCreadas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.cuadroColeccion{
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    gap: 20px;
    transition: .2s;
}

.cuadroColeccion:hover{
    border: 2px solid rgb(108, 24, 233);
    background-color: rgb(25, 25, 25);
}

.cuadroColeccion img{
    width: 120px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
}

.cuadroColeccion h1{
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin: 0;
}


/* estilos para coleccion seleccionada */




.contenedorColeccionSeleccionada{

    display: flex;
    border: 2px solid rgb(248, 246, 246);
    border-radius: 15px;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-top: 2vh;

}

.contenedorColeccionSeleccionada h1{

    font-size: 45px;
    margin-top: 2vh;
    color: white;

}



.contenedorImagenesDeColeccion{
    padding: 20px; 
    width: 90%; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; 
}




.cuadroColeccionMostrada {
    border: 2px solid rgb(255, 255, 255); 
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}

.cuadroColeccionMostrada:hover{

    background-color: rgb(48, 10, 139);
    scale: 1.02;

}


.cuadroColeccionMostrada img {
    width: 100%;
    height: 450px; 
    object-fit: cover; 
    border-radius: 8px;
}




/* estilos para reportes enviados */


.contenedorReportes{

    border: 2px solid red;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;

}

.contenedorReportes h1{

    font-size: 40px;

}

.contenedorReportes a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    padding: 20px;
    width: 65%;
    border-radius: 20px;
    gap: 5vw;
    background-color: rgb(59, 110, 221);
    color: white;
    text-decoration: none;
    transition: .2s;
}

.contenedorReportes a:hover{

    background-color: rgb(136, 168, 232);

}

.reporte{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 5vw;


}

.reporte p{

    font-size: 25px;



}




/* estilos para vistar logear usuario */

.loginUsuario{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    height: 550px;
    border-radius: 20px;
    gap: 15px;

}

.loginUsuario h1{

    font-size: 50px;
    color: white;

}

.loginUsuario form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 25px;
    width: 85%;

}

.loginUsuario form label{

    font-size: 30px;
    font-weight: bold;
    color: white;

}

.loginUsuario form input{

    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ee1414;
    border-radius: 5px;
    text-align: center;

}

.loginUsuario form input:focus{

    text-align: center;

}

.loginUsuario form button{

    width: 100%;
    padding: 15px;
    font-size: 22px;
    background-color: #731de4;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
    border: 2px solid rgb(255, 255, 255);
    color: white;

}

.loginUsuario form button:hover{

    background-color: #451187;

}

/* Estilos para vista registrar usuario   */





.registro-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px; 
    margin: 40px auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 25px 30px; 
    background-color: black;

}


.registro-usuario h1 {
    font-size: 32px; 
    margin-bottom: 20px;
    color: white;
}


.registro-usuario form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 100%; 
    padding: 25px;
    border-radius: 10px;
}


.registro-bloqueCampo {
    display: flex;
    flex-direction: column;
    gap: 6px; 
    width: 100%;
}


.registro-bloqueCampo label {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
}


.registro-bloqueCampo input {
    width: 100%;
    padding: 10px; 
    font-size: 16px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    text-align: center;
}

.registro-bloqueCampo input:focus{
    text-align: center;
}

.registro-boton-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px; 
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: .2s;
}

.registro-boton-avatar:hover {
    background-color: #383838;
}


.registro-usuario form button {
    width: 100%;
    padding: 14px; 
    font-size: 20px;
    background-color: #631ee4;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-weight: bold;
    margin-top: 5px;
    transition: .2s;
}

.registro-usuario form button:hover {
    background-color: rgb(60, 12, 118);
}

#avatar-nombre{
    color: white;
}


/* Alertas del profe, revisar por si rompe algo */

.alert{
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 10px;
    padding: 15px;
    border-radius: 4px;
}

.alert p {
    text-align: center;
}

.alert.success{
    background-color: green;
    color: white;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

.alert.error{
    background-color: red;
    color: white;
    box-shadow: 0 0 10px rgba(175, 76, 76, 0.5);
}





